body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin: 0;
  padding: 0;
  font-size: 2vw;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  background-color: #333;
  color: #fff;
  padding: 0.5%;
  text-align: center;
  font-size: 1.5rem;
  transition: height 0.3s, font-size 0.3s;
  overflow: hidden;
}

header.expanded {
  height: auto;
  font-size: 1.5rem;
}

header.collapsed {
  height: 1rem; 
  font-size: 0.5rem;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s, visibility 0.3s;
}

header.expanded nav ul {
  opacity: 1;
  visibility: visible;
}

nav li {
  margin: 0.5em 0;
}

nav a {
  color: #fff;
  text-decoration: none;
  font-size: 1rem;
}

.nav-toggle {
  cursor: pointer;
  font-size: 0.5rem; 
  line-height: 1rem;
  transition: font-size 0.3s, line-height 0.3s;
}

header.expanded .nav-toggle {
  font-size: 1.5rem;
  line-height: 1.5rem;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2%;
  font-size: 1rem;
  margin-top: 1rem; /* Adjust according to the header height */
}

.gallery-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.art-piece {
  margin: 0.5rem;
  width: 100%;
  max-width: 388px;
}

.art-piece img {
  width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: 1rem;
}

.art-piece p {
  font-size: 1rem;
  margin-top: 0.5rem;
}

.title_container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.logo_container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1;
  margin-top: 2rem;
}

.title_links_container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  flex: 2;
}

.inline-div-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem; 
  flex-wrap: wrap;
  margin-bottom: 1rem;
}

.inline-div {
  display: inline-block; 
  font-size: 1rem;
}

.inline-divSmall {
  display: inline-block; 
  font-size: 0.8rem;
}

/* url logos solve the issue wiht _ on whitespaces*/
.url_logos {
  font-size: 0;
}

.url_logos a {
  font-size: initial;
  display: inline-block;
}

footer {
  background-color: #333;
  color: #fff;
  padding: 1em;
  text-align: center;
  clear: both;
  font-size: 1rem;
}

.section-header {
  margin-top: 1%;
  border-bottom: 5px solid black;
  width: 100%;
}

.section-header h2 {
  font-size: 2rem;
  font-weight: bold;
}

h1 {
  font-size: 3rem;
  font-weight: bold;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
}

.icon_link {
  width: 2.5rem;
  height: 2.5rem;
  margin-right: 0.5rem;
}

.icon_title {
  width: 10rem;
  height: auto;
}

.cover {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  width:100%;
  margin-top: 2rem;
  margin-bottom: 2rem;
  box-sizing: border-box;
}

.cover_item {
  flex: 1 1 calc((100% - 6rem) / 7);
  max-width: calc((100% - 6rem) / 7);
}

.cover_image {
  width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: 1rem;
}

.cover_item a {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  text-decoration: solid;
}

/* Media code for smaller screens */

@media (min-width: 768px) and (max-width: 1200px) {
  body {
      font-size: 1.8vw;
  }

  .section-header h2 {
      font-size: 2.5rem;
  }

  h1 {
      font-size: 3.5rem;
  }

  .inline-div-container {
    flex-direction: row; 
    gap: 1rem; 
  }
  
  .inline-divSmall {
    font-size: 0.5rem;
  }

  .cover {
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .cover_item {
    flex: 1 1 calc((100% - 0.5rem) / 6);
    max-width: calc((100% - 0.5rem) / 6);
    margin-bottom: 1rem;
  }
  .cover_image {
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 1rem; 
  }
}

@media (max-width: 768px) {
  body {
    font-size: 1.5vw;
  }
  .inline-div-container {
    flex-direction: row; 
    gap: 1rem; 
  }
  
  .inline-divSmall {
    font-size: 0.5rem;
  }

  .cover {
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .cover_item {
    flex: 1 1 calc((100% - 0.5rem) / 4);
    max-width: calc((100% - 0.5rem) / 4);
    margin-bottom: 1rem;
    margin-bottom: 1rem;
  }

  .cover_image {
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 1rem;
  }

  nav ul {
      flex-direction: column;
  }

  nav li {
      margin-right: 0;
      margin-bottom: 0.5em;
  }

  .section-header h2 {
      font-size: 2rem;
  }

  h1 {
      font-size: 3rem;
  }
}

@media (max-width: 480px) {
  body {
    font-size: 0.7rem;
  }
  .inline-div-container {
    flex-direction: column; 
    gap: 0.5rem; 
  }

  .inline-divSmall {
    font-size: 0.5rem;
  }

  .cover {
    flex-wrap: wrap;
    justify-content: center;
  }
  .cover_item {
    flex: 1 1 calc((100% - 0.5rem) / 3);
    max-width: calc((100% - 0.5rem) / 3);
    margin-bottom: 1rem;
    margin-bottom: 1rem;
  }

  .cover_image {
    width: 50%;
    height: auto;
    object-fit: cover;
    border-radius: 0.5rem; 
  }

  .section-header h2 {
      font-size: 1.8rem;
  }

  h1 {
      font-size: 2.7rem;
  }
}

@media (max-width: 600px) {
  .inline-div-container {
    flex-direction: column; 
  }
}
